<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Post has been deleted.</h2>
    <br>
    <form action="/posts" method="GET">
      <input type="submit" value="Index"/>
    </form>
  </body>
</html>
