<form action="/posts" method="POST">
  <label>Name:</label> <input type="text" name="name" id="name"/><br/>
  <label>Post:</label> <textarea name="content" id="content"></textarea><br/>
  <button type="submit" id="submit">submit</button>
</form>
