<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <p><label>Post Name: <input type="text" name="name"/></label></p>
      <p>Enter your post:</p>
      <p><textarea name="content" id="content"></textarea></p>
      <p><input type="submit" value="Create Post" id="submit"/>
    </form>
  </body>
</html>
