<form action="/posts" method="post">
  <input type="text" name="name" id="name"/>
  <input type="text" name="content" id="content"></textarea>
  <button type="Submit" value="submit">Submit</button>
</form>
