<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Post your blog here</h1>
    <form action="/posts" method="post">
      <input type="text" name="name" value="name">
      <br>
      <input type="text" name="content" placeholder="content">
      <br>
      <input type="submit" id="submit">
    </form>


  </body>
</html>
