<!DOCTYPE html>
<html >
  <head>

    <title></title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <input type="text" name="name" value="name">
      <input type="text" name="content" value="content">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
