<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Title: <%=@post.name%></p>
    <p>Content: <%=@post.content%></p>
    <form action="/posts/<%=@post.id%>/edit" method="GET">
      <input type="submit" value="Edit"/>
    </form>
    <br/>
    <form action="/posts/<%=@post.id%>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="delete"/>
    </form>
  </body>
</html>
