<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <li><%=@post.name%></li>
    <li><%=@post.content%></li>

    <form action="/posts/<%=@post.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="delete">
    </form>

  </body>
</html>
